---
import { getCollection } from 'astro:content';
import { Picture } from '@astrojs/image/components';
import BaseLayout from "../layouts/BaseLayout.astro";
import Container from '../components/Container.astro';
import Sectionhead from '../components/Sectionhead.astro';

const pageTitle = "Projects";

// Filter projects entries with 'draft: false' & date before current date
const publishedProjectsEntries = await getCollection("projects", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});

// Sort content entries by publication date
publishedProjectsEntries.sort(function (a, b) {
  return b.data.publishDate.valueOf() - a.data.publishDate.valueOf();
});
---
<BaseLayout pageTitle={pageTitle}>
  <Container>
    <Sectionhead>
      <Fragment slot="title">My Projects</Fragment>
      <Fragment slot="subtitle">A collection of my projects.</Fragment>
    </Sectionhead>
    <main class="mt-16">
      <ul class="grid gap-16 max-w-4xl mx-auto">
        {
          publishedProjectsEntries.map((projectsProjectEntry, index) => (
            <li>
              <a href={`/projects/${projectsProjectEntry.slug}`}>
                <div class="grid md:grid-cols-2 gap-5 md:gap-10 items-center">
                  <Picture
                    src={projectsProjectEntry.data.image.src}
                    alt={projectsProjectEntry.data.image.alt}
                    sizes="(max-width: 800px) 100vw, 800px"
                    widths={[200, 400, 800]}
                    aspectRatio="16:9"
                    background="#ffffff"
                    fit="cover"
                    position="center"
                    loading={index <= 2 ? "eager" : "lazy"}
                    decoding={index <= 2 ? "sync" : "async"}
                    class="w-full rounded-md"
                  />
                  <div>
                    <span class="text-blue-400 uppercase tracking-wider text-sm font-medium">
                      {projectsProjectEntry.data.category}
                    </span>

                    <h2 class="text-3xl font-semibold leading-snug tracking-tight mt-1 ">
                      {projectsProjectEntry.data.title}
                    </h2>

                    <div class="flex gap-2 mt-3">
                      <span class="text-gray-400">
                        {projectsProjectEntry.data.author}
                      </span>
                      <span class="text-gray-400">• </span>
                      <time
                        class="text-gray-400"
                        datetime={projectsProjectEntry.data.publishDate.toISOString()}>
                        {projectsProjectEntry.data.publishDate.toDateString()}
                      </time>
                    </div>
                  </div>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </main>
  </Container>
</BaseLayout>